---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import Books from '../assets/img/books.png'
import ChefHat from '../assets/img/chef_hat.png'
import Start from '../assets/img/start_chef.png'
---

<Layout>
    <section class="w-full min-h-screen bg-orange-100 flex items-center justify-center">
        <div class="w-4/6 flex">
            <div class="w-1/2">
                
            </div>
            <div class="w-1/2">
                <Image src={Start} alt="asd"/>
            </div>
        </div>
    </section>
    <section class="w-full min-h-fit py-20 flex items-center justify-center gap-5 flex-col" style="background-color: #7a90af;">
        <h2 class="text-6xl font-bold text-yellow-200">Antes de continuar, responde estas preguntas:</h2>
        <ul class="text-xl flex flex-col gap-5 text-white font-bold">
            <li>¿Estás buscando una forma de introducir alimentos sólidos a tu bebé de manera segura y sin estrés?</li>
            <li>¿Te preocupa que tu bebé no esté recibiendo suficientes nutrientes durante la etapa de la alimentación complementaria?</li>
            <li>¿Estás cansado de luchar con tu bebé durante la hora de la comida?</li>
            <li>¿Quieres una solución libre de estrés para introducir alimentos sólidos a tu pequeño?</li>
            <li>¿Te preocupa que tu bebé no esté explorando una variedad suficiente de alimentos?</li>
            <li>¿Quieres promover la independencia y la autoconfianza en la alimentación de tu bebé desde una edad temprana?</li>
            <li>¿Te frustra no encontrar recetas adecuadas que se ajusten al método BLW y te hagan sentir seguro/a al introducir alimentos sólidos a tu bebé?</li>
            <li>¿Quieres evitar la ansiedad y el estrés que a menudo vienen con la alimentación?</li>
            <li>¿Estás cansado de lidiar con purés y cucharas, buscando una opción más natural y menos complicada?</li>
        </ul>
    </section>
    <section class="w-full min-h-fit py-20 bg-orange-100 flex items-center justify-center flex-col gap-7">
        <h2 class="text-5xl font-bold uppercase text-amber-900">¿Qué aprenderás?</h2>
        <nav class="w-4/6 flex flex-col gap-4">
            <div class="flex items-center gap-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="#a45d83" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>                  
                <p class="text-2xl font-bold">Descubrirás todo el proceso de inicio de alimentación complementaria con el método BLW  (como y cuando empezar, arcada y atragantamiento, red de apoyo, tips y consejos de organización y almacenamiento de alimentos, batch cooking, etc.).</p>
            </div>
            <div class="flex items-center gap-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="#a45d83" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>                  
                <p class="text-2xl font-bold">Aprenderás a como ofrecer los alimentos de manera segura, destacando la importancia de los cortes, la textura y la variedad de preparación de recetas nutritivas.</p>
            </div>
            <div class="flex items-center gap-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="#a45d83" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>                  
                <p class="text-2xl font-bold">Conocerás y aprenderás a utilizar bien las herramientas y técnicas para crear un ambiente relajado y positivo durante la hora de la comida.</p>
            </div>
            <div class="flex items-center gap-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="#a45d83" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>                  
                <p class="text-2xl font-bold">Descubrirás cómo fomentar la independencia y la autoconfianza en la alimentación de tu bebé, permitiéndole explorar una variedad de alimentos y tomar el control de su propia alimentación..</p>
            </div>
            <div class="flex items-center gap-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="#a45d83" class="size-20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>                  
                <p class="text-2xl font-bold">Obtendrás estrategias probadas para introducir alimentos sólidos de forma segura y sin estrés, eliminando las batallas en la hora de la comida y promoviendo una experiencia placentera para ti y tu bebé.</p>
            </div>
        </nav>
    </section>
    <section class="w-full min-h-[600px] py-20 bg-pink-200">

    </section>
    <section class="w-fill min-h-fit py-20 bg-orange-100 flex items-center justify-center flex-col">
        <div class="w-4/6 flex gap-10">
            <article class="w-1/2 flex justify-center items-center flex-col">
                <h2 class="text-5xl text-center text-amber-900 font-bold uppercase">¿QUÉ INCLUYE EN ESTE MEGAPACK DE CURSOS?</h2>
                <Image src={Books} alt="libros" />
                <a href="" class="text-6xl text-yellow-100 bg-pink-200 px-10 py-5 rounded-full hover:scale-105 transition">Comprar Ahora</a>
            </article>
            <article class="flex flex-col justify-between">
                <div class="flex items-center gap-5">
                    <Image src={ChefHat} class="w-15" alt="asd" />
                    <p class="text-2xl font-bold text-amber-900">+250 recetas (desayuno, almuerzo, merienda, cena, snack)</p>
                </div>
                <div class="flex items-center gap-5">
                    <Image src={ChefHat} class="w-15" alt="asd" />
                    <p class="text-2xl font-bold text-amber-900">Descarga del kit completo de AC 
                    </p>
                </div>
                <div class="flex items-center gap-5">
                    <Image src={ChefHat} class="w-15" alt="asd" />
                    <p class="text-2xl font-bold text-amber-900">Acceso a actualizaciones futuras</p>
                </div>
                <div class="flex items-center gap-5">
                    <Image src={ChefHat} class="w-15" alt="asd" />
                    <p class="text-2xl font-bold text-amber-900">Grupo de apoyo por WhatsApp</p>
                </div>
                <div class="flex items-center gap-5">
                    <Image src={ChefHat} class="w-15" alt="asd" />
                    <p class="text-2xl font-bold text-amber-900">Carpeta de planes semanales
                    </p>
                </div>
                <div class="flex gap-5">
                    <Image src={ChefHat} class="w-15" alt="asd" />
                    <p class="text-2xl font-bold text-amber-900">Carpeta de Ideas de comidas
                    </p>
                </div>
            </article>
        </div>
    </section>
</Layout>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'BobbyJones';
    src: url('/fonts/Bobby_Jones_Soft.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>